@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255,255,255,.3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
    padding-top: 13rem; /* Evita que o topo seja engolido pelo menu */
}

.heading {
    text-align: center;
    color: #fff;
    font-size: 4rem;
    padding-bottom: 3.5rem;
}

.heading span {
    color: var(--main-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 7rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

/* Estilo do Cardápio */
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.contact .row {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    height: 45rem;
}

.footer {
    background: var(--black);
    text-align: center;
    padding: 2rem;
}

.footer .credit {
    font-size: 2rem;
    color: #fff;
}

.footer .credit span {
    color: var(--main-color);
}

@media (max-width: 768px) {
    #menu-btn { display: inline-block; }
    /* Adicione estilos de menu mobile aqui se necessário */
}